#currently not in use, potential for the future
<h1>Counselors Dashboard</h1>
<%= facade.header %>
<% facade.students_by_grade.each do |student| %>
  <%= student.last_name %>, <%= student.first_name %>
<% end %>
