<div class="text-container">
  <mark class="item-key"><%= "#{facade.student.first_name}" %></mark>
  <mark class="item-value"><%= " #{facade.student.last_name}" %></mark>
</div>

<div class="banner">
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="schedule">

      </div>

    </div>
  </div>
  <div class="dynamic-container">
    <div class="statistics">

    </div>
  </div>
</div>

<div class="banner">
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="calendar">

      </div>
    </div>
  </div>
  <div class="dynamic-container">
    <div class="graph">

    </div>
  </div>
</div>
