<div class="login-container">
<!-- if they're just updating name or email, no additional params -->
<!-- if they're coming from an email, will have reset in it -->
<!-- if they're coming from their account page, params will have confirm -->

</div>
