<section class='graph-container'>
  <div class="graph-card">
    <img src="/algorithm_compare_plot.png" class="graph-picture">
    <p class="graph-descriptor">This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs </p>
  </div>


  <div class="graph-card">
    <img src="/residuals_plot.png" class="graph-picture">
    <p class="graph-descriptor">This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs </p>
  </div>

  <div class="graph-card">
    <img src="/joint_plot.png" class="graph-picture">
    <p class="graph-descriptor">This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs </p>
  </div>
</section>
