<section class='graph-container'>
  <div class="graph-card">
    <img src="/algorithm_compare_plot.png" class="graph-picture">
    <article class='graph-descriptor'>
      <p>This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs </p>
    </article>
  </div>


  <div class="graph-card">
    <img src="/residuals_plot.png" class="graph-picture">
    <article class="graph-descriptor">
      <p>This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs </p>
    </article>
  </div>

  <div class="graph-card">
    <img src="/joint_plot.png" class="graph-picture">
    <article class="graph-descriptor">
      <p>This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs This is some text ot describe the graphs </p>
    </article>
  </div>
</section>
