<div class="dynamic-container">
  <div class="dynamic">
    <div class="about-paragraph-title">About Site</div>
    <p class="about-paragraph">
      Thank you for visiting our website. This app was created by a group of passionnate programmers at Turing School of Software & Design. We all have a background in education and chose to create a product that could help other teachers. Our initial idea was to create a way for teachers to access, create, and share successful strategies for their students. It grew into much more.
    </p>
    <br>
    <p class="about-paragraph">
      Our app pairs with a simple student quiz app. Students answer a few questions with their Google accounts and responses get sent to their teacher's account as both attendance and student data.
    </p>
    <br>
    <p class="about-paragraph">
      On a higher-level, this app will be able to provide education researchers with data on strategies, predicted and actual grades, graduation rates, and survey data.
    </p>
    <p class="h2l-team">- H2L Team
      <%= image_tag("arrow-logo-4.png", height: 25, class:"icon") %>
    </p>

  </div>
</div>



<footer>
  <p class="copyright">© Team 2 - The Badgers are Back</p>
    <%= link_to "Back to Home", welcome_path, class:'footer-link' %>
</footer>
