body {
  background: url("https://cdn.pixabay.com/photo/2016/03/22/15/31/background-image-1273097_960_720.jpg");
  color: #F6F7F8;
  margin-top: 60px;
  font-family: helvetica;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  position: fixed;
  background: #0a7abc;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 50px;
  left: 0px;
  top: 0px;
  width: 100%;
}

h1 {
  font-size: 58px;
  text-align: center;
  text-shadow: 2px 3px 2px #FF6F66;
}

input {
  width: 250px;
}

footer {
  background: #FF6F66;
  bottom: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 30px;
  left: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-link {
  color: #F6F7F8;
  grid-column: 3 / span 1;
  padding-top: 3px;
  text-decoration: none;
}

.footer-link:hover {
  color: #011627;
  text-decoration: none;
}

.copyright {
  color: #011627;
  font-size: 12px;
  grid-column: 1 / span 1;
  margin-bottom: 5px;
}

.input-box {
  font-size: 18px;
  margin-bottom: 5px;
}
.flash-message {
  background-color: #e2fcca;
  /* border-radius: 5px; */
  color: #011627;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

.nav-button {
  border: none;
  /* border-radius: 2px; */
  background: #ACF766;
  color: #011627;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
}

.nav-button:hover {
  background:#92DCE5;
  color: #011627;
  box-shadow: 0px 0px 15px 2px #F6F7F8;
}

.nav-logged-in {
  align-items: flex-start;
  display: flex;
  grid-column: 2 / span 2;
  padding-top: 15px;
}

.nav-dashboard {
  align-items: flex-start;
  display: flex;
  grid-column: 7 / span 1;
}

.nav-logout {
  align-items: flex-start;
  display: flex;
  grid-column: 8 / span 1;
}

.login-container {
  border: 5px solid #FF6F66;
  /* border-radius: 15px; */
  background-color: #F6F7F8;
  color: #0a7abc;
  font-size: 25px;
  margin-left: 30vw;
  margin-right: 30vw;
  padding: 25px;
}

.forgot {
  color: #0a7abc;
  font-size: 15px;
  text-decoration: none;
}

.forgot:hover {
  color: #FF6F66;
}

.about-paragraph {
  font-size: 20px;
}

.h2l-team {
  margin-left: 250px;
}


.course-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.welcome-course-heading {
  background: #92DCE5;
  border: 2px solid #ACF766;
  /* border-radius: 5px; */
  color: #011627;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.welcome-course-heading:hover {
  transform: scale(1.1,1.1);
}

.course-card {
  margin-top:15px;
  margin-left: 10px;
  width: 48%;
  margin-bottom: 50px;
}

.course-heading {
  background: #92DCE5;
  border: 2px solid #ACF766;
  /* border-radius: 5px; */
  color: #011627;
  font-size: 22px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.course-heading:hover {
  transform: scale(1.1,1.1);
}

.course-container {
  display: flex;
  flex-wrap: wrap;
}

.student-container {
  background: #F6F7F8;
  color: #20A4F3;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 250px;
}

.course-student-card {
  border: 1px #CCCCCC solid;
  font-size: 18px;
  padding: 10px;
}

.course-student-card:hover {
  background: #e2fcca;
}

.calendar-container {

}

.graph-container {

}


#h2l {
  grid-column: 1 / span 1;
  height: 50px;
  margin: 10px;
  width: auto;
}

#attendance-icon {
  height: 20px;
  width: auto;
}
