/*
provides speech bubble tips from gem 'qtip2-jquery-rails':
= require qtip2-jquery-rails
*/

body {
  background: #F6F7F8;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .5px;
}

.main-body {
  margin-top: 180px;
}

header {
  background: #F6F7F8;
  position: fixed;
  top: 0;
  width: 100%!important;
  z-index: 9;
}

mark {
  background: none;
}

textarea {
  margin: 0 auto;
  display: block;
}

header nav.navbar {
  padding: 20px 100px 40px 100px;
}

.flash-message {
  background-color: #f9e0a9;
  color: #003a78;
  width: 100%;
  text-align: center;
  height: 25px;
}

.navbar {
  position: relatiove;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

header nav.navbar .navbarLogo {
  display: flex;
  align-items: center;
}

a, a:hover {
  text-decoration: none;
  outline: 0;
  color: #6f6f6f;
}

header nav.navbar .navbarLogo .headerLogo {
  margin-right: 15px;
  display: inline-block;
}

.logo-image {
  display: flex;
  justify-content: center;
}

header nav.navbar .navbarLogo h3 {
    font-size: calc((1 *(1em - 13px) - -2.5em - 10px));
    color: #003a78;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 600;
}

.navbarNav {
  display: flex;
  justify-content: space-between;
  width: 470px;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

header nav.navbar .navbarNav li {
  position: relative;
}

header nav.navbar .navbarNav li a {
  font-size: calc((-.2 *(1em - 13px) - -2em - 13px));
  color: #4b4b4b;
  line-height: 26px;
  letter-spacing: 0;
  transition: all .3s ease-in-out;
}

.navbarNav {
  z-index: 8;
  position: relative;
}

.nav-button {
  position: relative;
}

.item-value::after, .nav-button::after {
  content: '';
  background-color: #f9e0a9;
  display: block;
  position: absolute;
  width: 0%;
  height: 30px;
  margin-top: -27px;
  margin-left: -10px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

 .item-value:hover::after, .nav-button:hover::after {
  content: '';
  background-color: #f9e0a9;
  display: block;
  position: absolute;
  width: 40%;
  height: 30px;
  margin-top: -27px;
  margin-left: -10px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.nav-button#active::after {
  content: '';
  background-color: #f9e0a9;
  display: block;
  position: absolute;
  width: 40%;
  height: 30px;
  margin-top: -27px;
  margin-left: -10px;
  z-index: -1;
}

.logged-in-as {
  display: flex;
}

.logged-in-as h3 {
  padding-left: 150px;
  margin-top: -50px;
}

.logged-in-as h3::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #fdb811;
  display: block;
  z-index: 1;
  transition: all .3s ease-in-out;
}

footer {
  background: #191542;
  bottom: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 30px;
  left: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-link {
  color: #F6F7F8;
  grid-column: 3 / span 1;
  padding-top: 3px;
  text-decoration: none;
}

.footer-link:hover {
  color: #f9e0a9;
  text-decoration: none;
}

.copyright {
  color: #cfe2f3ff;
  font-size: 13px;
  grid-column: 1 / span 1;
  margin-top: 4px;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.dynamic-container, .tagline-container {
  margin: 10px 60px;
  padding: 0px 30px;
  height: 500px;
  z-index: 2;
}

.dynamic-container::before, .tagline-container::before {
  content: '';
  background-color: #5fb0c4;
  display: block;
  height: 60px;
  width: 60px;
  margin-left: -40px;
  margin-top: -10px;
}

.dynamic-container::after, .tagline-container::after {
  content: '';
  background-color: #5fb0c4;
  display: block;
  height: 60px;
  width: 60px;
  float: right;
  position: relative;
  margin-right: -10px;
  margin-top: -50px;
  z-index: -1;
}

.dynamic, .tagline {
  color: #003a78;
  background-color: #F6F7F8;
  height: 75%;
  padding: 40px;
  margin-top: -50px;
  margin-left: -30px;
}

.tagline {
  font-size: calc((-.2 *(1em - 13px) - -2.5em - 13px));
}

.welcome-course-container {
  padding: 0px;
  margin: 0px;
}

.welcome-course-heading:hover {
  background-color: #cfe2f3ff;
}

.text-container {
  font-size: calc((-.2 *(1em - 16px) - -2.2em - 13px));
  position: relative;
  z-index: 5;
}
.text-container .item-value {
  color: #003a78;
  padding-bottom: 5px;
  padding-left: 15px;
}

.text-container .item-key {
  color: #fdb811;
  padding-left: 5px;
  letter-spacing: 2px;
  line-height: 1.6;
}

.account-container {
  display: flex;
  justify-content: center;
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-button {
  background-color: #003a78;
  border: none;
  width: 95%;
  font-size: 16px;
  font-weight: 300;
  color: #cfe2f3ff;
  border-radius: 6px;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}

.form-button:hover {
  background-color: #f9e0a9;
  border: none;
  width: 95%;
  font-size: 16px;
  font-weight: 300;
  color: #003a78;
  border-radius: 6px;
  margin-top: 20px;
  padding: 5px;
}

.about-paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
}

.about-paragraph-title {
  letter-spacing: 3px;
}

.h2l-team {
  text-align: right;
  padding-right: 100px;
  letter-spacing: 3px;
}

.input-box {
  width: 250px;
  font-size: 16px;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
}

.course-card {
  background: white;
  width: 600px;
  margin: 20px;
  padding: 15px;
}

.student-container {
  padding: 15px 80px;
  display: flex;
  flex-direction: column;
}

.student-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  margin-top: 10px;
  padding: 0px 30px;
  width: 100%;

}
.student-card:hover {
  background-color: #f9e0a9;
  transition: all .3s ease-in-out;
}

.item-key::after {
  content: '';
  position: absolute;
  background-color: #cfe2f3ff;
  height: 5px;
  width: 50px;
  display: block;
}

.smaller-grey {
  padding-left: 10px;
  letter-spacing: 1px;
  color: #6f6f6f;
  font-size: 14px;
}

.date {
  color: #003a78;
  padding-left: 50px;
}

.date::after {
  content: '';
  background-color: #fdb811;
  width: 30px;
  height: 6px;
  display: block;
  position: relative;
}

.attendance-icon {
  background-size: contain;
  background-repeat: no-repeat;
  border: #6f6f6f solid 1px;
  height: 20px;
  width: 20px;
}


.attendance-icon:hover {
  transform: scale(1.2, 1.2);
}


.attendance-nil {
  background-image: url('circle-outline-xxl.png');
}

.attendance-present {
  background-image: url('check-mark-3-xxl.png');

}
.attendance-absent {
  background-image: url('x-mark-xxl.png');
}
.attendance-tardy {
  background-image: url('letter-t-xxl.png');
}
.attendance-present_no_response {
  background-image: url('error-3-xxl.png');
}
.attendance-absent_with_response {
  background-image: url('x-mark-5-xxl.png');
}

.rotate {
  transform: rotate(180deg);
}


.attendance-options {
  background: white;
  margin-top: 200px;
  width: 250px;
  z-index: 10;
  padding: 10px;
}

.option {
  display: flex;
  letter-spacing: 1;
  padding-bottom: 10px;
}

.strategies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.schedule, .statistics {
  font-size: calc((-.2 *(1em - 20px) - -1.9em - 13px));
  font-weight: 300;
  padding-left: 25px;
}

.strategy {
  background: white;
  font-weight: 300;
  line-height: 2;
  margin: 15px;
  margin-right: 50px;
  padding: 15px;
  padding-right: 50px;
  width: 40%;
}

.grey-heading {
  color: #6f6f6f;
  font-size: calc((-.2 *(1em - 20px) - -2.2em - 13px));
  font-weight: 300;
  margin: 5px;

}

.grey-heading::after {
  content: '';
  background-color: #f9e0a9;
  display: block;
  height: 15px;
  margin-left: -15px;
  position: absolute;
  width: 75px;
}

.fixed {
  position: fixed;
  background: #F6F7F8;
}

.modal {
  background-color: rgba(0,0,0,0.4);
  display: none;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  z-index: 10;
}

.modal-content{
  background: #F6F7F8;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  z-index: 11;
}

.visible {
  visibility: visible;
}

.heading-link-container {
  display: flex;
  align-items: center;
}

#small-link {
  font-size: calc((-.2 *(1em - 20px) - -1.8em - 13px));
  letter-spacing: 1px;
  color: black;
  margin: 0px;
}

#small-link:hover {
  color: #5fb0c4;
  cursor: pointer;
}

#delete {
  font-size: 14px;
  margin-left: 75%;
  text-decoration: none;
}
#delete:hover{
  background-color: #f9e0a9;
  transition: all .3s ease-in-out;
}
